@import './grid';
@import './mixin';
@import './reset';
@import './variables';

.bg-products {
    background: #f3f3f3
}
.products {
    padding: 100px 0 120px;

    h1 {
        color: $dark-green;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        margin: 0 auto 130px;
        letter-spacing: 2px;
    }
}

.img-card1,
.img-card2,
.img-card3 {
    padding-top: 60px;
    height: 150px;
    
}
.btn-md {
    background-color: #3DD969;
    width: 60%;
    margin: 0 auto 50px;
    text-align: center;
    padding: 18px 25px;
    color:#fff;
    box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.58);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        box-shadow: -2px 1px 8px 2px rgba(0,0,0,0.27);
    }   
}
.grid-cards {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:"card1 card2 card3";
    grid-gap: 30px 30px;
    margin-top: 60px;
    transform: scale(0.1);
    transition: all .7s ease-in-out;

    &__card1 {
        @include cardsProducts (card1);
    } 
    &__card2 {
        @include cardsProducts (card2);
    }
    &__card3 {
        @include cardsProducts (card3);
    }

    h3 {
    color: #333333;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    margin: 0 15px 0
    }

    p {
    color: #333333;
    font-size: 16px;
    text-align: center;
    padding: 20px 20px;
    margin: 0 20px 30px;
    }
}

/*ANIMATION CARDS */
.active-cards{ 
    opacity: 1;
    transform: scale(1);
}
@media (max-width: 1100px) {

    .grid-cards {
      grid-template-columns: 1fr;
      grid-template-areas:
      "card1"
      "card2"
      "card3"; 
    }
  }
  

